.hours {
  white-space: nowrap;
}

@media screen and (min-width: 40em) {

  .l-contactGrid {
    display: flex;
    align-items: center;
    max-height: 450px;
  }

  .l-contactGrid > * {
    flex: 1;
    max-height: 450px;
  }
}
