.l-tiles > * {
  margin: 5rem 0;
}

@media screen and (min-width: 40em) {
  .l-tiles {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: repeat(auto-fill, 48%);
  }

  .l-tiles > * {
    padding: 2rem;
    margin: 0;
    /*margin: 3rem 0;*/
  }
}
