img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue";
  color: #222;
  line-height: 1.2;
}

nav a {
  font-weight: bold;
  color: #222;
  text-decoration: none;
  padding-bottom: .25em;
}
nav a:hover {
  border-color: #00a4d8;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 5px solid #ddd;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  color: #00a4d8;
  border-color: #00a4d8;
}

nav {
  text-align: center;
  margin: 1rem 0 2rem;
}
nav a {
  margin: 0.25rem;
}

dl {
  text-align: center;
}

dt {
  font-weight: 700;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  margin-bottom: .25rem;
}

dd {
  margin: 0 0 1rem;
  font-size: .9rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.25rem;
}

address {
  font-style: normal;
}

h2 {
  font-size: 100%;
}

section {
  margin: 5rem 0;
}

img {
  display: inline-block;
}

.social-header {
  visibility: hidden;
}

.social-icons {
  margin-bottom: .25rem;
}
.social-icons a {
  border: 0;
  margin: 0 .5em;
}
.social-icons img {
  width: 2.5em;
  height: 2.5em;
}

.logo {
  display: block;
  max-width: 16rem;
  position: relative;
  margin: 0 auto;
}

.nav {
  padding: 0 1rem;
}

.flush {
  margin: 1rem -1rem 1rem;
}

.vimeo-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.vimeo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contactInfo {
  margin-bottom: 2.5rem;
}

.item {
  background-image: url("https://images.unsplash.com/photo-1484256017452-47f3e80eae7c?dpr=1&auto=format&fit=crop&w=2850&q=60&cs=tinysrgb");
  background-size: cover;
  background-position: center center;
  background-color: whitesmoke;
}

.SquareGrid {
  --content-width: 100vw;
  --gutter: 1px;
  --columns: 2;
  --row-size: calc(
    ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
    ) / var(--columns)
  );
  display: grid;
  width: 100%;
  max-width: var(--content-width);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}

.video {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 0;
}

.brand {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2rem;
}

.brand1 {
  grid-column: 1;
  grid-row: 2;
}

.brand2 {
  grid-column: 2;
  grid-row: 4;
}

.brand3 {
  grid-column: 1;
  grid-row: 5;
}

.brand4 {
  grid-column: 1;
  grid-row: 7;
}

.brand5 {
  grid-column: 2;
  grid-row: 8;
}

@media only screen and (min-width: 450px) {
  .SquareGrid {
    --columns: 3;
  }

  .video {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-top: 5%;
    background-color: #222;
  }

  .brand1 {
    grid-column: 3;
    grid-row: 1;
  }

  .brand2 {
    grid-column: 1;
    grid-row: 2;
  }

  .brand3 {
    grid-column: 2;
    grid-row: 5;
  }

  .brand4 {
    grid-column: 1;
    grid-row: 7;
  }
}
@media only screen and (min-width: 620px) {
  .SquareGrid {
    --columns: 4;
  }

  .nav {
    display: grid;
    grid-template-columns: 50% 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .brand3 {
    grid-column: 4;
    grid-row: 4;
  }

  .brand4 {
    grid-column: 2;
    grid-row: 5;
  }
}
@media only screen and (min-width: 740px) {
  .SquareGrid {
    --columns: 5;
  }

  .brand3 {
    grid-column: 5;
    grid-row: 3;
  }

  .brand4 {
    grid-column: 4;
    grid-row: 4;
  }

}
@media only screen and (min-width: 980px) {
  .grid {
    display: grid;
    grid-template-columns: 43vw 57vw;
  }

  .SquareGrid {
    --columns: 3;
    --content-width: 57vw;
  }

  .nav {
    display: block;
    margin: 0 auto;
  }

  .brand3 {
    grid-row: 5;
    grid-column: 3;
  }

  .brand4 {
    grid-row: 7;
    grid-column: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .SquareGrid {
    --columns: 4;
  }

  .brand3 {
    grid-row: 4;
    grid-column: 4;
  }

  .brand4 {
    grid-row: 5;
    grid-column: 2;
  }
}
@media only screen and (min-width: 1700px) {
  .SquareGrid {
    --columns: 5;
  }

  .brand4 {
    grid-row: 4;
    grid-column: 5;
  }
}
